/* You can add global styles to this file, and also import other style files */


.bg-lydian{
  background-color: #d4b200 !important;
}

.border-lydian{
  border: 1px solid #d4b200;
}

.btn-lydian {
  color: #fff;
  background-color: #d4b200 !important;
  border-color: #d4b200 !important;
}

.toast-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.cursor-pointer{
  cursor: pointer;
}
